<a href="https://colab.research.google.com/github/gabrieleite/Ciencia_de_Dados_Aula1/blob/main/Panda_Ciencia_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Para trabalhar com o Pandas, precisamos importar a biblioteca 

import pandas as pd # "pd" é um apelido para a biblioteca

In [ ]:
# Fazendo a importação dos dados local
corona = pd.read_csv('/content/covid_19_data.csv')

In [ ]:
# Importando os dados remotamente 
corona = pd.read_csv('http://emsapi.esy.es/datasets/covid_19_data.csv')

#Inspecionando o DataFrame (dados)

A seguir vamos executar uma série de comandos para iniciar nossa análise de dados. 

Essa etapa é de fundamental importância, visto que precisamos saber "com o que" estamos trabalhando

In [ ]:
# 1. Descobrir informações sobre o dataframe 

corona.info()

In [ ]:
# Verificando linhas e colunas individualmente

corona.shape

(98252, 8)

In [ ]:
print('Linhas...: ', corona.shape[0])
print('Colunas...: ', corona.shape[1])

Linhas...:  98252
Colunas...:  8

In [ ]:
# Listar o nome de cada coluna individualmente

list(corona.columns)

In [ ]:
# Outro jeito

for c in corona.columns:
  print(c)

SNo
ObservationDate
Province/State
Country/Region
Last Update
Confirmed
Deaths
Recovered

#Visão geral dos dados

In [ ]:
# Visão geral dos dados com o uso do .head(n)

corona.head() # Quando não informado o número de linhas, retorna as 5 primeiras

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [ ]:
# Com parâmetro
corona.head(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
5,6,01/22/2020,Guangdong,Mainland China,1/22/2020 17:00,26.0,0.0,0.0
6,7,01/22/2020,Guangxi,Mainland China,1/22/2020 17:00,2.0,0.0,0.0
7,8,01/22/2020,Guizhou,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
8,9,01/22/2020,Hainan,Mainland China,1/22/2020 17:00,4.0,0.0,0.0
9,10,01/22/2020,Hebei,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

In [ ]:
# Visão geral dos dados com o uso do .head(n) 
# Quando não informado o parâmetro, mostra as 5 últimas linhas

corona.tail()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
98247,98248,08/29/2020,Zaporizhia Oblast,Ukraine,2020-08-30 04:28:22,1520.0,25.0,883.0
98248,98249,08/29/2020,Zeeland,Netherlands,2020-08-30 04:28:22,1048.0,72.0,0.0
98249,98250,08/29/2020,Zhejiang,Mainland China,2020-08-30 04:28:22,1277.0,1.0,1268.0
98250,98251,08/29/2020,Zhytomyr Oblast,Ukraine,2020-08-30 04:28:22,3155.0,61.0,1837.0
98251,98252,08/29/2020,Zuid-Holland,Netherlands,2020-08-30 04:28:22,18774.0,1344.0,0.0

In [ ]:
# Com parâmetro
corona.tail(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
98242,98243,08/29/2020,Yukon,Canada,2020-08-30 04:28:22,15.0,0.0,15.0
98243,98244,08/29/2020,Yunnan,Mainland China,2020-08-30 04:28:22,199.0,2.0,191.0
98244,98245,08/29/2020,Zabaykalsky Krai,Russia,2020-08-30 04:28:22,4541.0,56.0,4207.0
98245,98246,08/29/2020,Zacatecas,Mexico,2020-08-30 04:28:22,5195.0,470.0,3970.0
98246,98247,08/29/2020,Zakarpattia Oblast,Ukraine,2020-08-30 04:28:22,7385.0,259.0,3220.0
98247,98248,08/29/2020,Zaporizhia Oblast,Ukraine,2020-08-30 04:28:22,1520.0,25.0,883.0
98248,98249,08/29/2020,Zeeland,Netherlands,2020-08-30 04:28:22,1048.0,72.0,0.0
98249,98250,08/29/2020,Zhejiang,Mainland China,2020-08-30 04:28:22,1277.0,1.0,1268.0
98250,98251,08/29/2020,Zhytomyr Oblast,Ukraine,2020-08-30 04:28:22,3155.0,61.0,1837.0
98251,98252,08/29/2020,Zuid-Holland,Netherlands,2020-08-30 04:28:22,18774.0,1344.0,0.0

In [ ]:
# Temos a opção de linhas aleatórias
# Se não informar N, retorna apenas 1

corona.sample()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
80393,80394,08/05/2020,Valle del Cauca,Colombia,2020-08-06 04:35:02,28611.0,1106.0,16527.0

In [ ]:
# Com parâmetro

corona.sample(8)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
31063,31064,05/29/2020,Alabama,US,2020-05-30 02:32:48,17031.0,610.0,0.0
54652,54653,07/01/2020,Zakarpattia Oblast,Ukraine,2020-07-02 04:33:46,2961.0,95.0,953.0
92788,92789,08/22/2020,Michoacan,Mexico,2020-08-23 04:27:48,13513.0,1052.0,11044.0
86695,86696,08/14/2020,Fukushima,Japan,2020-08-15 04:27:31,102.0,0.0,89.0
59696,59697,07/08/2020,Tyumen Oblast,Russia,2020-07-09 04:34:23,3713.0,18.0,2251.0
7125,7126,03/20/2020,Liaoning,Mainland China,2020-03-20T01:43:03,126.0,2.0,122.0
39244,39245,06/10/2020,Smolensk Oblast,Russia,2020-06-11 03:33:41,3432.0,44.0,1321.0
48044,48045,06/22/2020,Unknown,Spain,2020-06-23 04:33:22,0.0,0.0,0.0

#Remoção de Dados


```
  .drop([column(s)], axis=0/1, inplace=True/False)

  axis: 0 para as linhas e 1 para as colunas

  inplace: Se True, altera o DataFrame
```

In [ ]:
corona.head(1)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0

In [ ]:
#Excluindo uma coluna

corona.drop(['Confirmed'], axis=1, inplace=True)
corona.head(1)

   SNo ObservationDate  Country/Region      Last Update  Deaths  Recovered
0    1      01/22/2020  Mainland China  1/22/2020 17:00     0.0        0.0

In [ ]:
df = corona.drop(['Deaths'], axis=1)
df.head(1)

   SNo ObservationDate  Country/Region      Last Update  Recovered
0    1      01/22/2020  Mainland China  1/22/2020 17:00        0.0

In [ ]:
corona.head(1)

   SNo ObservationDate  Country/Region      Last Update  Deaths  Recovered
0    1      01/22/2020  Mainland China  1/22/2020 17:00     0.0        0.0

#Aplicação de Filtros

In [ ]:
# Retornando uma série de variável Country/Region
corona['Country/Region']

0        Mainland China
1        Mainland China
2        Mainland China
3        Mainland China
4        Mainland China
              ...
98247           Ukraine
98248       Netherlands
98249    Mainland China
98250           Ukraine
98251       Netherlands
Name: Country/Region, Length: 98252, dtype: object

In [ ]:
# Retornando um DataFrame da variável Country/Region
corona[['Country/Region']]

       Country/Region
0      Mainland China
1      Mainland China
2      Mainland China
3      Mainland China
4      Mainland China
...               ...
98247         Ukraine
98248     Netherlands
98249  Mainland China
98250         Ukraine
98251     Netherlands

[98252 rows x 1 columns]

In [ ]:
# Retornar mais de uma coluna

corona[ ['Country/Region', 'Recovered'] ]

       Country/Region  Recovered
0      Mainland China        0.0
1      Mainland China        0.0
2      Mainland China        0.0
3      Mainland China        0.0
4      Mainland China        0.0
...               ...        ...
98247         Ukraine      883.0
98248     Netherlands        0.0
98249  Mainland China     1268.0
98250         Ukraine     1837.0
98251     Netherlands        0.0

[98252 rows x 2 columns]

In [ ]:
# Vamos ver um comando mais personalizável
corona.query('Recovered > 50000')

,SNo,ObservationDate,Country/Region,Last Update,Deaths,Recovered
4935,4936,03/12/2020,Mainland China,2020-03-12T09:53:06,3056.0,50318.0
5153,5154,03/13/2020,Mainland China,2020-03-13T11:09:03,3062.0,51553.0
5383,5384,03/14/2020,Mainland China,2020-03-14T10:13:09,3075.0,52960.0
5632,5633,03/15/2020,Mainland China,2020-03-15T18:20:18,3085.0,54288.0
5890,5891,03/16/2020,Mainland China,2020-03-16T14:38:45,3099.0,55142.0
...,...,...,...,...,...,...
98160,98161,08/29/2020,India,2020-08-30 04:28:22,7137.0,355727.0
98164,98165,08/29/2020,India,2020-08-30 04:28:22,818.0,90988.0
98197,98198,08/29/2020,Peru,2020-08-30 04:28:22,0.0,438017.0
98203,98204,08/29/2020,India,2020-08-30 04:28:22,3356.0,162741.0
98230,98231,08/29/2020,India,2020-08-30 04:28:22,3126.0,127644.0

In [ ]:
# Filtragem de variáveis qualitativas 
corona[corona['Country/Region'] == 'Brazil']

,SNo,ObservationDate,Country/Region,Last Update,Deaths,Recovered
82,83,01/23/2020,Brazil,1/23/20 17:00,0.0,0.0
2455,2456,02/26/2020,Brazil,2020-02-26T23:53:02,0.0,0.0
2559,2560,02/27/2020,Brazil,2020-02-26T23:53:02,0.0,0.0
2668,2669,02/28/2020,Brazil,2020-02-26T23:53:02,0.0,0.0
2776,2777,02/29/2020,Brazil,2020-02-29T21:03:05,0.0,0.0
...,...,...,...,...,...,...
98103,98104,08/29/2020,Brazil,2020-08-30 04:28:22,587.0,11057.0
98120,98121,08/29/2020,Brazil,2020-08-30 04:28:22,2218.0,131550.0
98122,98123,08/29/2020,Brazil,2020-08-30 04:28:22,29944.0,609618.0
98128,98129,08/29/2020,Brazil,2020-08-30 04:28:22,1839.0,62950.0
98172,98173,08/29/2020,Brazil,2020-08-30 04:28:22,658.0,30701.0

# Como salvar filtros?

Clique duas vezes (ou pressione "Enter") para editar

In [ ]:
# Aplicamos um filtro somente para o país Brazil
corona_brasil = corona[corona['Country/Region'] == 'Brazil']
corona_brasil.shape

(2858, 6)

In [ ]:
# Vamos salvar o resultado em um novo "dataset" (arquivo de dados)
corona_brasil.to_csv('/content/corona_brasil.csv', index=None)

# ATIVIDADE

1. Utilizando os comandos aprendidos hoje, salvar datasets de todos os países. 
2. Salvar um dataset apenas com as colunas: ``ObservationDate``, ``Country/Region``, ``Last Update`` e 	``Recovered``.

In [ ]:
# De todos os países
corona_todos = corona[['ObservationDate', 'Country/Region', 'Last Update', 'Recovered']]
corona_todos.shape

(98252, 4)

In [ ]:
# Salva um dataset com as colunas
corona_todos.to_csv('/content/corona_todos.csv', index=None)

#Análise de Planilha: CORONA_LIMPO

In [ ]:
# Importando os dados remotamente 
corona_limpo = pd.read_csv('http://emsapi.esy.es/datasets/corona_limpo.csv')

In [ ]:
# Verifica linhas e colunas
corona_limpo.shape

(223, 28)

In [ ]:
print('Linhas: ', corona_limpo.shape[0])
print('Colunas: ', corona_limpo.shape[1])

Linhas:  223
Colunas:  28

In [ ]:
#Lista o nome de cada coluna

list(corona_limpo.columns)

['ObservationDate',
 'Country/Region',
 'Last Update',
 'Confirmed',
 'Deaths',
 'Recovered',
 'Confirmed + Deaths',
 'Death by Cases',
 'Country',
 'Region',
 'Population',
 'Area (sq. mi.)',
 'Pop. Density (per sq. mi.)',
 'Coastline (coast/area ratio)',
 'Net migration',
 'Infant mortality (per 1000 births)',
 'GDP ($ per capita)',
 'Literacy (%)',
 'Phones (per 1000)',
 'Arable (%)',
 'Crops (%)',
 'Other (%)',
 'Climate',
 'Birthrate',
 'Deathrate',
 'Agriculture',
 'Industry',
 'Service']

In [ ]:
# Visão geral dos dados com o uso do .tail(n) 
# Listando as últimas 2 linhas
corona_limpo.tail(2)

,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered,Confirmed + Deaths,Death by Cases,Country,Region,...,Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
221,08/29/2020,Ukraine,2020-08-30 04:28:22,3155.0,61.0,1837.0,3216.0,0.019334,Ukraine,C.W. OF IND. STATES,...,259.9,56.21,1.61,42.18,3.0,8.82,14.39,0.187,0.452,0.361
222,08/29/2020,Netherlands,2020-08-30 04:28:22,18774.0,1344.0,0.0,20118.0,0.071588,Netherlands,WESTERN EUROPE,...,460.8,26.71,0.97,72.32,3.0,10.90,8.68,0.021,0.244,0.736

In [ ]:
# Visão geral dos dados com o uso do .head(n)
# Listando as primeiras 15 linhas
corona_limpo.head(15)

,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered,Confirmed + Deaths,Death by Cases,Country,Region,...,Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,02/28/2020,Azerbaijan,2020-02-28 15:03:26,1.0,0.0,0.0,1.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02/28/2020,North Ireland,2020-02-28 05:43:02,1.0,0.0,0.0,1.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,03/08/2020,Republic of Ireland,2020-03-08 21:03:03,21.0,0.0,0.0,21.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,03/09/2020,Palestine,2020-03-07 02:23:06,22.0,0.0,0.0,22.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,03/09/2020,St. Martin,2020-03-09 10:43:06,2.0,0.0,0.0,2.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,03/09/2020,Vatican City,2020-03-06 15:43:02,1.0,0.0,0.0,1.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,03/10/2020,Faroe Islands,2020-03-08 05:13:07,2.0,0.0,0.0,2.0,0.0,Faroe Islands,WESTERN EUROPE,...,503.8,2.14,0.0,97.86,NaN,14.05,8.70,0.270,0.110,0.620
7,03/10/2020,"('St. Martin',)",2020-03-10 05:33:02,2.0,0.0,0.0,2.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,03/10/2020,Channel Islands,2020-03-10 05:33:02,1.0,0.0,0.0,1.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,03/10/2020,Gibraltar,2020-03-10 08:33:03,1.0,0.0,1.0,1.0,0.0,Gibraltar,WESTERN EUROPE,...,877.7,0.00,0.0,100.00,NaN,10.74,9.31,NaN,NaN,NaN
10,03/10/2020,Saint Barthelemy,2020-03-09 10:43:06,1.0,0.0,0.0,1.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,03/15/2020,Cayman Islands,2020-03-13 12:33:03,1.0,0.0,0.0,1.0,0.0,Cayman Islands,LATIN AMER. & CARIB,...,836.3,3.85,0.0,96.15,2.0,12.74,4.89,0.014,0.032,0.954
12,03/15/2020,Curacao,2020-03-14 16:15:18,1.0,0.0,0.0,1.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,03/17/2020,occupied Palestinian territory,2020-03-11 20:53:02,0.0,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,03/19/2020,Aruba,2020-03-18 11:53:04,4.0,0.0,0.0,4.0,0.0,Aruba,LATIN AMER. & CARIB,...,516.1,10.53,0.0,89.47,2.0,11.03,6.68,0.004,0.333,0.663

In [ ]:
# Linhas Aleatórias
# Listando 5 linhas aleatórias 

corona_limpo.sample(5)

,ObservationDate,Country/Region,Last Update,Confirmed,Deaths,Recovered,Confirmed + Deaths,Death by Cases,Country,Region,...,Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
221,08/29/2020,Ukraine,2020-08-30 04:28:22,3155.0,61.0,1837.0,3216.0,0.019334,Ukraine,C.W. OF IND. STATES,...,259.9,56.21,1.61,42.18,3.0,8.82,14.39,0.187,0.452,0.361
0,02/28/2020,Azerbaijan,2020-02-28 15:03:26,1.0,0.0,0.0,1.0,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,03/21/2020,Guernsey,2020-03-17 18:33:03,0.0,0.0,0.0,0.0,NaN,Guernsey,WESTERN EUROPE,...,842.4,NaN,NaN,NaN,3.0,8.81,10.01,0.030,0.100,0.870
218,08/29/2020,Russia,2020-08-30 04:28:22,4541.0,56.0,4207.0,4597.0,0.012332,Russia,C.W. OF IND. STATES,...,280.6,7.33,0.11,92.56,NaN,9.95,14.65,0.054,0.371,0.575
187,08/29/2020,Turkey,2020-08-30 04:28:22,267064.0,6284.0,242812.0,273348.0,0.023530,Turkey,NEAR EAST,...,269.5,30.93,3.31,65.76,3.0,16.62,5.97,0.117,0.298,0.585